<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
	  <h1>Punchcard</h1>
      <p class="lead">Program Guide<br>Fall 2015</p>
    </div>

    <nav class="sidebar-nav">


      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = (site.pages | sort: 'nav_order') %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.category == 'guide' %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{  site.baseurl  }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
	  <br><br>
      <!--<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">&larr; Back to Punchcard Home</a>-->
    </nav>
    
  </div>
</div>
